.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*~
*.swp
dmoj/local_settings.py
resources/style.css
resources/content-description.css
resources/ranks.css
resources/table.css
resources/martor-description.css
sass_processed
logs
*.log
.venv
env
venv
*.env
.pm2/*
!.pm2/__init__.py
tests
data/problems
!data/problems/__init__.py
